<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <div class="nav-item logo-item">
        <a href="/"> <img class="nav-logo" src="/assets/round_yanami200x200.png" alt="page logo"></a>
    </div>
    <div class="nav-item">
        <a href="/blog.html">blog</a>
    </div>
    <div class="nav-item">
        <a href="https://github.com/pwjtd" target="_blank" rel="noopener noreferrer">github</a>
    </div>
    <div class="nav-item">
        <a href="https://www.linkedin.com/in/piotr-walczak-2001/" target="_blank" rel="noopener noreferrer">linkedin</a>
    </div>
</body>
</html>
